.imagelist {
    
  h3 {
    text-align: center;
    color: rgba(18, 20, 29, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1px;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
      img {
        width: 170px;
        height: 100px;
      }
    }
  }
}
